﻿@model IEnumerable<coupon_system.Models.Buyer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.currentLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastNotify)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.currentLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastNotify)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.userName }) |
            @Html.ActionLink("Details", "Details", new { id=item.userName }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.userName })
        </td>
    </tr>
}

</table>
