﻿@model coupon_system.Models.Coupon

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Coupon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.orriginalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.orriginalPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.disclPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.disclPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.totalOrders)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalOrders)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
